**/bin/
**/obj/
**/nasa_power_weather_data/
*~
*.DS_Store
**/__pycache__/
**/*.egg-info/
*.svg
*.png
*.dll
*.exe
*.db

.pytest_cache/

.vscode/

.github/

.git/
.gitignore
.gitattributes

.pixi/

.dockerignore
.beamignore
docs/
tests/
recipe/
output/
models/
scratch/
isric_soil_data/
nasa_power_weather_data/
dist/
build/
utils/
!utils/beam_cloud_base_requirements.txt
